<div class="reveal modal-admin" id="modal-admin" data-reveal>
    <div id="modal-admin-content"></div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>