<footer>
    <%= __('© %s %s All right reserved. Website developed by', sails.config.name, sails.moment().format('Y')) %> <a href="http://www.fhmsolutions.com" target="_blank">FHM Solutions</a>
</footer>