<div class="container">

  <h3>
    Front..............
  </h3>
  <ul>
    <li><a href="<%= path('admin') %>">ADMIN</a></li>
    <li><a href="<%= path('integration_index') %>">INTEGRATION</a></li>
  </ul>
</div>