<form action="/media/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="file"><br>
    <input type="submit" value="Upload">

    <h3>Resultat :</h3>
</form>


<% if (typeof media !== "undefined") { %>
<a href="#">
    <img src="<%=media.getUrl()%>">
</a>
<% } %>